# coffeelint: disable=max_line_length
# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Select last pasted text'
      'command': 'select-pasted:paste-and-selected'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'select-pasted'
      'submenu': [
        {
          'label': 'Select last pasted text'
          'command': 'select-pasted:paste-and-selected'
        }
      ]
    ]
  }
]
